.endpg-btns {
  @media only screen and (max-width: 499px) {
    background-color: #f4f4f4;
    height: 170px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    padding-top: 10px;
    border-bottom: 0.5px gray solid;

    &__goback {
      height: 55px;
      width: 350px;

      border-radius: 0px;
      background-color: transparent;

      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      color: gray;
    }

    &__goforward {
      height: 55px;
      width: 350px;

      border-radius: 0px;
      background-color: transparent;

      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
    }
  }

  @media only screen and (min-width: 500px) {
    background-color: #f4f4f4;
    height: 110px;

    display: flex;
    justify-content: space-around;
    gap: 30px;

    padding-top: 10px;
    border-bottom: 0.5px gray solid;

    &__goback {
      height: 55px;
      width: 200px;

      border-radius: 0px;
      background-color: transparent;

      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      color: gray;
    }

    &__goforward {
      height: 55px;
      width: 200px;

      border-radius: 0px;
      background-color: transparent;

      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
    }
  }
}
